{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Resume</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>

    .main{
       height: auto;  /* footer height */
       padding-top: 20px;
       display: block;
       margin-bottom:2%; /* space between content and footer */
       box-sizing: border-box;
       position: relative;
       width: auto;
    }
</style>

</head>
<body>
<section class="main">
            <div class="container">
                <div class-"row">
                    <div class="col-xs-12 col-md-12">
                        <div class="well">
                            <h1 style="text-align:center;color:green;font-family:serif;">Resume of {{ qs.first_name}} {{ qs.last_name }}</h1>
                            <hr style = 'background-color:#000000; border-width:0; color:#000000; height:2px; lineheight:0; display: inline-block; text-align: left; width:100%;' />
                             <div class='embed-responsive' style='padding-bottom:150%'>
                                 {% if cv.is_publish == True %}
                                    <object data='http://127.0.0.1:8000{{ cv.cv.url }}' type='application/pdf' width='100%' height='100%'></object>

                                {% else %}
                                    <h4>No CV found !!!</h4>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

</body>
</html>
